*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
}

header div {
    padding: 40px;
    font-size: 1.5vw;
}

header a {
    text-decoration: none;
    color: #9f4bc7;
}

/* Game home styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 60px;
    font-size: 2vw;
}

.about {
    padding: 40px 25%;
    font-size: 1.5vw;
    text-align: center;
}

.start-button button {
    background-color: #351c75;
    color: white;
    border-radius: 10px;
    font-size: 1.4vw;
    padding: 10px;
}

.start-button button:hover {
    background-color: #9f4bc7;
}

/* Question styles */
.question-wrapper {
    width: 50%;
}

.question {
    font-size: 2vw;
    font-weight: bold;
}

.answers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.answers button {
    background-color: #351c75;
    color: white;
    width: 30%;
    margin: 7px 0;
    border-radius: 10px;
    font-size: 1.4vw;
    text-align: left;
    padding: 5px;
}

.answers button:hover {
    background-color: #9f4bc7;
}

.result {
    font-size: 1.6vw;
    padding: 15px;
    margin-top: 10px;
    border-top: 3px solid rgb(151, 151, 151);
    color: rgb(151, 151, 151);
}

/* Final score screen styles */
.fin-title {
    font-size: 2vw;
    font-weight: bold;
}

.fin-score {
    font-size: 1.5vw;
    padding: 10px 0;
}

.form {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}

.form > * {
    margin: 0 5px;
}

.form-input {
    height: 1.5vw;
    top: -5px;
}

.submit {
    padding: 0.24vw 0.48vw;
    font-size: 0.8vw;
    border-radius: 10px;
    background-color: #351c75;
    color: white;
}

.submit:hover {
    background-color: #9f4bc7;
}

/* High scores screen styles */
.high-scores-wrapper {
    width: 40%;
    padding-top: 40px;
}

.high-scores-wrapper > * {
    padding: 10px 0;
}

.high-scores div:nth-child(odd) {
    background-color: #d9d3e9;
}

.high-buttons button {
    font-size: 1.5vw;
    padding: 5px 10px;
    margin: 5px 15px 0 15px;
    background-color: #351c75;
    color: white;
    border-radius: 10px;
}

.high-buttons button:hover {
    background-color: #9f4bc7;
}

@media screen and (max-width: 950px) {
    header div {
        font-size: 3vw;
    }

    .title {
        font-size: 3.5vw;
    }
    
    .about {
        font-size: 3vw;
    }
    
    .start-button button {
        font-size: 3vw;
    }

    .question-wrapper {
        width: 80%;
    }
    
    .question {
        font-size: 4.3vw;
    }
    
    .answers button {
        font-size: 3vw;
        width: 30%;
    }
    
    .result {
        font-size: 3vw;
    }

    .fin-wrapper {
        width: fit-content;
    }

    .fin-title {
        font-size: 10vw;
    }
    
    .fin-score {
        font-size: 5vw;
    }
    
    .form {
        font-size: 5vw;
    }
    
    .form-input {
        height: 5vw;
        width: 40vw;
        font-size: 5vw;
    }
    
    .submit {
        font-size: 5vw;
    }

    .high-scores-wrapper {
        width: 70%;
    }
    
    .high-buttons button {
        font-size: 4.5vw;
        padding: 5px 10px;
    }
}